<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>School Library</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">School Library</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books}" >School Library</a>
            </li>
        </ul>
    </div>
</nav>
<br/><br/>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">Create New Book</h1>
                <div class="card-body">
                    <form th:action="@{/books}" th:object="${book}" method="post">
                        <div class="form-group">
                            <label>Book Title</label>
                        </div>
                        <div class="form-group">
                            <input type="text"
                                   name="bookTitle"
                                   th:field="*{title}"
                                   placeholder="Enter Book Title"
                                   />
                        </div>
                        <div class="form-group">
                            <label>Author</label>
                        </div>
                        <div class="form-group">
                            <input type="text"
                                   name="author"
                                   th:field="*{author}"
                                   placeholder="Enter the Author Name"
                            />
                        </div>
                        <div class="form-group">
                            <label>ISBN</label>
                        </div>
                        <div class="form-group">
                            <input type="text"
                                   name="isbn"
                                   th:field="*{ISBN}"
                                   placeholder="Enter ISBN"
                            />
                        </div>
                        <div class="form-group">
                            <label>Genre</label>
                        </div>
                        <div class="form-group">
                            <input type="text"
                                   name="genre"
                                   th:field="*{genre}"
                                   placeholder="Enter the Genre"
                            />
                        </div>
                        <div class="form-group">
                            <label>Publication Date</label>
                        </div>
                        <div class="form-group">
                            <input type="text"
                                   name="publicationDate"
                                   th:field="*{publicationDate}"
                                   placeholder="Enter Publication Date"
                            />
                        </div>
                        <div class="form-group">
                            <label>Available</label>
                            </div>
                        <div class="form-group">
                            <input type="text"
                                   name="available"
                                   th:field="*{available}"
                                   placeholder="Is available?"
                            />
                        </div>
                        <div class="footer-body">
                            <button type="submit" class="btn btn-primary"> Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>